<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>상단바</title>
    <link rel="stylesheet" type="text/css" href="/css/top-bar.css">
</head>
<body>
<div th:fragment="topbar" id="topbar">
    <div class="topbar-container">
        <div class="home-link"><a th:href="@{/}">home</a></div>
        <div class="menu">
            <ul>
                <li sec:authorize="hasAuthority('ADMIN')" class="admin-item">
                    <a href="/admin/members">전체 사용자 목록</a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="admin-item">
                    <a href="/admin/member-revision">전체 사용자 히스토리 목록</a>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')" class="signup-item">
                    <a th:href="@{/members/create}">유저생성</a>
                </li>
                <!-- Check if the user is authenticated -->
                <li sec:authorize="isAuthenticated()" class="user-item"><a th:href="@{|/members/${#authentication.principal.username}/modify|}">내 정보 수정</a></li>
                <li sec:authorize="isAuthenticated()" class="logout-item"><a th:href="@{/logout}">로그아웃</a></li>

                <!-- Check if the user is not authenticated -->
                <li sec:authorize="isAnonymous()" class="login-item"><a th:href="@{/login}">로그인</a></li>
                <li sec:authorize="isAnonymous()" class="signup-item"><a th:href="@{/members/create}">회원가입</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>